/* A css for Alpine Configuration Framework (Mika Havela 2011) */

/* Edited by Zach LeBar (zelebar) */

/*----------------------------------------------------------------------------------
 * JQUERY TABLESORTER
 *--------------------------------------------------------------------------------*/

@import "../static/tablesorter/theme.blue.css";

/*----------------------------------------------------------------------------------
 * GENERAL
 *--------------------------------------------------------------------------------*/

body {
	color: #444;
}

a {
	text-decoration: none;
	color: #072966;
}

a:visited {
	color: #072966;
}

a:hover {
	text-decoration: underline;
}

.hide {
	display: none;
}

input {
	border:	1px solid #ccc;
}

hr {
	background-color: white;
	height: 3px;
}

.error {
	font-weight: bold;
	font-style: italic;
	color: #f33;
}

input.error, 
select.error, 
textarea.error {
	font-weight: normal;
	font-style: normal;
}

input.checkbox {
	border: none;
}

.header {
	background: #eee;
	border-bottom: 3px double #999;
	font-weight: bold;
	vertical-align:	bottom;
}

pre {
	font-family: monospace;
	font-size: 10pt;
	padding: 5px;
}

input[type="text"][disabled] {
	color: #755;
	background: #eee;
}

input.text[readonly],textarea[readonly] {
	border:	none;
	font-weight: bold;
	background: transparent;
}
/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *--------------------------------------------------------------------------------*/

body {
	background-image: url("images/page-base.png");
	font-family: "Liberation Sans", Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}


/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *--------------------------------------------------------------------------------*/
#header {
	height: 18px;
	background: #5F8DD3;
	border-top: 1px solid #385580;
	border-bottom: 1px solid #385580;
	color: #CCC;
	margin: 0px;
	padding: 2px 0px 0px 0px;
	font-weight: bold;
}

#header p {
	float: right;
	font-size: 14px;
	color: #FFF;
	padding: 0px 0px 0px 0px;
	margin-right: 10px;
	margin-top: 0px;
}

#header a {
	color: #FFF;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER > LOGO
 *--------------------------------------------------------------------------------*/
#header h1 {
	display: none;
}

/* hostname */
#header p.hostname {
	float: left;
	margin:	1px 1px 1px 10px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *--------------------------------------------------------------------------------*/

#main {
	border-top: 1px solid #FFF;
	padding-top: 15px;
	padding-right: 10px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *--------------------------------------------------------------------------------*/

#nav {
	float: left;
	height:	100%;
	min-height: 150px;
	width: 150px;
	margin: -20px 10px 10px 0px;
	padding: 0px 0px 0px 10px;
	background-image: url("images/alogo.png");
	background-repeat: no-repeat;
	background-position: center top; 

}

#nav ul {
	margin-top: 160px;
	list-style-type: none;
}

#nav ul li {
	margin-top: 20px;
	color: #555555;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
}

#nav ul li ul {
	margin-top: 6px;
	padding-top: 6px;
	background-image: none;
	background-image: url("images/portal-break.png");
	background-repeat: no-repeat;
	background-position: center top; 
}

#nav ul li ul li {
	margin:	0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 21px;
	font-weight: normal;
	font-size: 11pt;
	white-space: nowrap;
	overflow: hidden;
	background-image: none;
}

#nav ul li ul li.selected {
	font-weight: bold;
}

#nav ul li ul li a {
	clear: 	right;
	display: list-item;
}

#nav ul li ul li a:hover {
	background-image: none;
}

#nav ul li ul li.selected a:hover {
	background-image: none;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *--------------------------------------------------------------------------------*/
#subnav {
	position: relative;
	top: 1px;
}

#subnav ul {
	margin:	0px 0px 0px 170px;
	padding: 0px 0px 0px 10px;

	overflow: auto;
}

#subnav ul li {
	display: block;
	float: left;

	margin:	0px 0px 0px -10px;
	padding: 4px 15px 4px 10px;
	
	background-image: url("images/tab-break.png");
	background-repeat: repeat-x;
	border: 1px solid #5F8DD3;
}


#subnav a {
	margin:	0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#subnav ul li.selected {
	border-bottom: 1px solid #ffffff;
	background-image: url("images/tab-current-fade.png");
	background-repeat: repeat-x;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > CONTENT
 *--------------------------------------------------------------------------------*/
#content {
	background: #ffffff;
	margin-left: 170px;
	padding: 15px;
	padding-top: 0px;
	border:	1px solid #5F8DD3;
}

#content h1,h2,h3,h4,h5 { 
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 5px;
	padding-left: 0px;
	height: 25px;

	color: #385580;
	font-weight: bold;
	border-bottom: 1px solid #444;
}

#content h1 { 
	font-size: 22px;
}

#content h2 { 
	height: 21px;
	font-size: 18px;
}

#content h3 { 
	padding-left: 20px;
	height: 20px;
	font-size: 17px;
}

#content dl,
#content .item {
	margin:	0px;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 2px;
	width: 98%;
	display: block;
	clear: right;
}

#content dt,
#content .item .left {
	min-height: 8px;
	width: 220px;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	margin-top: 1px;
	margin-left: 0px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content dd,
#content .item .right {
	margin-top: -17px;
	font-size: 12px;
	margin-left: 230px;
	padding-bottom: 5px;
}

#content table form {
	display: inline-block;
}

/*
#content .tailer {
	clear: both;
	margin-left: 0px;
}
*/

#content .submit {
	width: 100px;
	border:	1px solid #385580;
	background: #5F8DD3;
	color: #FFF;
}

#content textarea {
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
}

#content p,input.text,select,textarea,input.password {
	width: 100%;
}

#content table {
	width: 100%;
	background-image: url("images/page-base.png");
	border-bottom: 2px solid #CCC;

}

#content input.short {
	width: 200px;
	margin-right: 10px;
	display: inline;
}

#content input[disabled] {
	color: #909090;
}

#content textarea {
	height: 300px;
}

#content dd textarea {
	height:	100px;
}

#content form select.radio {
	border:	none;
}

#content table td {
	padding-right: 10px;
	white-space: normal;
	border:	1px solid #ffffff;
}


/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *--------------------------------------------------------------------------------*/

#footer {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 180px;
	margin-right: 10px;
	padding: 5px;
	clear: both;
	text-align: center; 
	font-size: 10px;
	color: #777777;
}
