/* .css - Alpine ACF */

/*----------------------------------------------------------------------------------
 * JQUERY TABLESORTER
 *--------------------------------------------------------------------------------*/

@import "../static/tablesorter/theme.default.css";

/*----------------------------------------------------------------------------------
 * GENERAL
 *----------------------------------------------------------------------------------
 */

.hide {
	display:			none;
}

a {
	text-decoration:		none;
	color:				#072966;
}
a:visited {
	color:				#072966;
}
a:hover {
	text-decoration:		underline;
	color:				red;
}
input {
	border:				1px solid #ccc;
}
hr {
	background-color:			#ffffff;
	height: 				3px;
}
.error {
	font-weight: 			bold;
	font-style:			italic;
	color: 				#f33;
}
input.error,select.error,textarea.error {
	font-weight: 			normal;
	font-style:			normal;
}
input.text[readonly],textarea[readonly] {
	border:				none;
	font-weight: 			bold;
}

pre {
	font-family:			monospace;
	font-size:			10pt;
	padding:			5px;
}
.header {
	background-color:			#ddd;
	color:					black;
	padding:				5px;
	text-align:				left;
	font-weight: 				bold;
}
/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */
body {
	margin: 			0px;
	padding: 			0px;
	font-family: 			Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, Verdana, "Trebuchet MS", SunSans-Regular;
	font-size:			12pt;
	background:	#eee;
}
#page { 
	left:				0px;
	margin:				20px 5% 20px 5%;
	background:			white;
	//height:				100%;
	border: 				1px solid black;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */
#header {
	width: 				100%;
	height: 			75px;
	background-image: 		url("alpine_inv.jpg");
	background-repeat: 		repeat-x;
/*	background: 	#777;	*/
	color:			white;
	border-bottom: 			3px solid black; 
}

#header a {
	color:			white;
	font-weight:		bold;
}

#header p {
/* float:	left; */
	position:			absolute;
	font-size:		14px;
	margin-top: 		0px;
	left:			6%;
	right:			6%;
	color:			white;
	text-align:		right;
	top:			25px;
}
#header p.hostname {
	text-align:		left;
	color:			white;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER > LOGO
 *----------------------------------------------------------------------------------
 */
#header h1 {
	position:				absolute;
	text-align:			center;
	left:				0px;
	right:				0px;
	top:				20px;
	width:				100%;
	font-size:			40px; 
}
#header p.hostname {
/*	position:			absolute;
	top:				55px; 
	left:				10px;*/
	float:				left;
	top:				25px;
	font-size:			14px;
	font-weight:			bold;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */
#main {
	margin-top: 		20px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *----------------------------------------------------------------------------------
 */
#nav {
	float:				left;
	width: 				180px;
	margin-left:			5px;
/*	top: 				82px;
	left: 				8px;
	margin:				0px;
	padding:			0px;
	display:			block;
	background:			white;
	background-repeat: 		repeat-y;
	background-position: 		right; */
}
#nav ul {
	list-style-type: 		none;
}
#nav ul li {
/*	color: 			white;
	font-size: 		16px;
	font-weight: 		bold;
	white-space: 		nowrap;
	overflow: 		hidden;
	background:		#6688AA;
	border-top: 		1px solid #7799BB; */
	padding-left:		5px; 
/*	padding-top:		5px;*/
	background: 		silver;
	font-weight:		bold;
	padding-top:		5px

}
#nav ul li ul {
/*	margin-top:	5px; */
	background: 		white;
	margin-top:		5px;
}
#nav ul li ul li {
	margin-left:		-5px;
	padding:		2px;
	padding-left:		15px;
/*
	padding-bottom: 	0px;
	font-weight: 		normal;
	font-size:		10pt;
	border-bottom: 		1px solid #cacaca;
	border-top: 		1px solid #ccc;
	border-left: 		1px solid #ddd;*/
	white-space: 		nowrap;
	overflow: 		hidden;
	background: 		white;
/*	height: 		21px;
	margin:			0px;
	padding:		0px; */
}
#nav ul li ul li a {
/*	clear:			right; */
	display:		list-item;
	height:			20px;
	font-weight:		normal;

/*	padding-left:		5px;
	padding-top:		3px;
	padding-bottom:		3px; */
}
#nav ul li ul li a:hover {
}
#nav ul li ul li.selected a {
	font-weight:		bold;
	text-decoration:	underline;
}
/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *----------------------------------------------------------------------------------
 */
#subnav {
	position:			absolute;
	top:				71px;
	right:				5%; 
 	padding-top: 			2px;
	margin-bottom:			10px;
/*	background:	blue; */
	height:		14px;

/*	border: 			2px solid blue; */

	margin-left:			250px;
}
#xxsubnav a {
/*	height:				20px; */
/*	margin: 			0px 0px 5px 0px;
	padding: 			3px 5px 2px 5px; */
	float:		left;
	padding:			5px;
	margin-right:			10px;
	margin-top:			0px;
	font-size:			12px;
/*	background-image: 		url(menu_item.png); */
	border: 			1px solid #7799BB;
	border-bottom: 			none;
	background:			#ccc;
	height:		100%;
}

#subnav li {
	font-size:			14px;
	border: 				1px solid #7799BB;
	border-bottom: 			none;
	display: 				inline;
	float:				left;
	margin:				0em 0.5em 0em 0em;
	padding:				5px;
	background:			#ccc;
	}

#subnav li.selected {
	background:			white;
	text-decoration:			underline;
	font-weight:			bold;
	}
/*----------------------------------------------------------------------------------
 * PAGE > MAIN > CONTENT
 *----------------------------------------------------------------------------------
 */
#content {
	padding:			5px;
	padding-top:			0px;
	margin-left:	200px;
	margin-right:		10px;

/*	margin-left:			200px; */
}
#content h1,h2,h3,h4,h5 { 
	margin-left: 			0px;
	text-align:			left;
	text-transform:			uppercase; 
	color:				#55d;
	font-size: 			10pt;
	font-family:			verdana;
	font-weight:			bold;
	clear:				right;
	width:				auto;
	margin-right:			10px;
	border-bottom:			2px solid #ddd;
	margin-top:			5px;


}
#content h1 { 
	border:				1px solid #777;
	border-left:			none;
	border-top:			none;
	font-size: 			12pt;
	background:			#ccc;
	padding:			5px;
	color:				black;
	margin-right:			10px;
}

#content h2 { 
	padding-left:			10px;
}
#content h3 { 
	padding-left:			20px;
	text-transform:			capitalize; 
}
/*

#content .descr {
	clear:	both;
}

#content .value {
	display: inline;
	padding-left: 200px;
}
*/
#content dl,
#content .item {
	border:			1px dashed #ddd;
	margin:			0px;
	padding:			0px;
	margin-bottom:		10px;
	margin-top:		2px;
	width:			98%;
	display:			block;
	clear:			right;
}
#content dt,
#content .item .left {
	width: 			220px;
	font-size: 		12px;
	text-align:		left;
	font-weight:		bold;
	margin-top:		1px;
	margin-left: 		0px;
	padding-left:		5px;
	padding-top:		5px;
	padding-bottom:		5px;
}
#content dd,
#content .item .right {
	margin-top:		-17px;
	font-size: 		12px;
	margin-left: 		230px;
	padding-bottom:		5px;
}
#content table form {
	display:		inline-block;
}
#content .submit {
	width: 			100px;
	border-right:		1px solid #cacaca;
	border-bottom:		1px solid #cacaca;
	background:		#eee;
}
#content textarea {
	border-right: 		1px solid #cacaca;
	border-bottom: 		1px solid #cacaca;
}
#content table input.text,table select,table textarea,table input.password, textarea {
	width:			97%;
}

#content dd input.text ,dd select,dd textarea,dd input.password {
	width:			97%;
}
#content p,table,hr {
	width:			97%;
}
#content p {
	border-bottom:		none;
	margin-bottom:		5px;
/*	margin:			7px;
	margin-left:		0px;
	margin-right:		0px; */
	padding:		0px;
	padding-right:		15px;

}

#content p.descr {
/* margin-left:		20px; */
	display: inline;
	width:	auto;
}
#content textarea {
	height:			300px;
}
#content dd textarea {
	height:			100px;
}

/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *----------------------------------------------------------------------------------
 */

#footer {
/* float: right; */
	margin: 			10px;
	margin-top:			60px;
	padding:			5px;
	margin-left:			200px;
	margin-right:			20px;
	clear: both;
	text-align:		center; 
	border-top:		1px solid #d6d6d6;
	font-size:		10px;
	color: 			#aaa;

/*	position:			relative;
	clear: 			both;
	width: 			100%;
	padding:			5px 0px 5px 0px;
	margin:			15px 0px 0px 10px; */
}
