/*----------------------------------------------------------------------------------
 * PAGE > DARK THEME
 *----------------------------------------------------------------------------------
 */

html.app-logon.dark-theme {
    background: inherit !important;
}

.dark-theme,
.dark-theme body,
.dark-theme #main,
.dark-theme .page {
    background: #171f28 !important;
}

.dark-theme .left {
    color: #545454;
}

.dark-theme .right p {
	color: grey;
}

.dark-theme pre, .dark-theme .dashboard-block {
    background: #171f28;
}

.dark-theme header {
    background: #18131a !important;
}

.dark-theme .header-logo {
	background-image: url(../../img/logos/logo-trinity-full-acf-white.png) no-repeat !important;
}

.dark-theme .icon i,
.dark-theme .icon-header i{
    color: white !important;
}

.dark-theme tbody {
    color: #767676;
}

.dark-theme .data-block {
    background: inherit!important;
}

.dark-theme .data-block {
    background: #1f262e !important;
}

/* Scrollbar */
 
.dark-theme ::-webkit-scrollbar-thumb {
  background: #1b2530; 
}

/* Handle on hover */
.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #1b2530; 
}

.dark-theme #nav ul li {
    background: #171f28;
}

.dark-theme #system .selected.item-field {
    background: #6300d2;
    color: white !important;
}

.dark-theme #applications .selected.item-field {
    background: #2743a9;
    color: white !important;
}

.dark-theme #content .chart-bar td {
    border: 3px solid #1a232e;
}

.dark-theme .welcome #content h1 {
    border: none !important;
    color: #c5c5c5 !important;
}

.dark-theme #content h1 {
    color: #c5c5c5 !important;
    background: #404040 !important;
}

.dark-theme #content h1::before {
    color: rgb(0 0 0 / 20%) !important;
}

.dark-theme input:checked + .slider {
    background-color: #8d00ed;
}

.dark-theme #legend-object {
    box-shadow: 2px 2px 30px #00000029;
    border: 1px solid rgb(49 54 60 / 0%) !important;
}

.dark-theme .interface-name {
    color: grey;
}

.dark-theme #footer {
    background: #1a232e;
}

.dark-theme #footer a {
    color: white !important;
}

.dark-theme #theme-conv {
    color: white !important;
}

.dark-theme .fa-solid.fa-circle-half-stroke {
    color: rgb(99 0 210) !important;
}

.dark-theme #disk-listing {
    background: inherit !important;
}

.dark-theme .page-welcome #capacity-free {
    color: #c9c9c9 !important;
    background: #404040 !important;
}

.dark-theme .welcome .dashboard-title {
    border-top: 1px solid #505050 !important;
}

.dark-theme .right #error {
    background: inherit !important;
}

.dark-theme code {
    background: #404040 !important;
}

.dark-theme #section-root\'s-full-permissions-are h2 {
    background: #404040 !important;
}

.dark-theme .hljs {
    color: #c3c3c3;
}