/*----------------------------------------------------------------------------------
 * PAGE > DARK THEME
 *----------------------------------------------------------------------------------
 */

.dark-theme,
.dark-theme body,
.dark-theme #main,
.dark-theme .page,
.dark-theme pre,
.dark-theme .dashboard-block {
    background: #222222 !important;
}

.dark-theme .logon-logon {
    box-shadow: 0px 0px 8px 2.5px #ffffff14 !important;
}
.dark-theme .left {
    color: #545454;
}

.dark-theme .right p {
	color: grey;
}

.dark-theme header {
    background: linear-gradient(90deg, #1a1a1a, #1a1a1a, #0a000a) !important;
    box-shadow: none !important;
}

.dark-theme .header-logo,
.dark-theme .logon-logon #header {
	background-image: url(../../img/logos/logo-trinity-dashboard.png) !important;
}

.dark-theme tbody {
    color: #767676;
}

.dark-theme .version-link.version-external-link {
    color: #626262 !important;
}

.dark-theme .data-block {
    padding: 0.25rem 1.5rem 1rem;
    background: #282828 !important;
	border-radius: 4px;
}

/* Scrollbar */
 
.dark-theme ::-webkit-scrollbar-thumb {
    background: #1a1a1a !important;
}

/* Handle on hover */
.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a !important;
}

.dark-theme #system .selected.item-field {
    background: #6300d2;
    color: white !important;
}

.dark-theme #text-user-logon {
    background: #1a1a1a;
}

.dark-theme #applications .selected.item-field {
    background: #2743a9;
    color: white !important;
}

.dark-theme #content .chart-bar td {
    border: 3px solid #1a232e;
}

.dark-theme .welcome #content h1 {
    border: none !important;
    color: #c5c5c5 !important;
}

.dark-theme #content h1 {
    color: #c5c5c5 !important;
    background: #404040 !important;
}

.dark-theme #content h1::before {
    color: rgb(0 0 0 / 20%) !important;
}

.dark-theme input:checked + .slider {
    background-color: #8d00ed;
}

.dark-theme #legend-object {
    border: 1px solid rgb(49 54 60 / 0%) !important;
}

.dark-theme .interface-name {
    color: grey;
}

.dark-theme #footer {
    background: #282828;
}

.dark-theme #theme-conv {
    color: white !important;
}

.dark-theme .fa-solid.fa-circle-half-stroke {
    color: rgb(99 0 210) !important;
}

.dark-theme #disk-listing {
    background: inherit !important;
}

.dark-theme .page-welcome #capacity-free {
    color: #c9c9c9 !important;
    background: #404040 !important;
}

.dark-theme .welcome .dashboard-title {
    border-top: 1px solid #505050 !important;
}

.dark-theme .item .right #error {
    background: inherit !important;
}

.dark-theme code {
    background: #404040 !important;
}

.dark-theme #section-root\'s-full-permissions-are h2 {
    background: #404040 !important;
}

.dark-theme .hljs {
    color: #c3c3c3;
}

.dark-theme .tablesorter-ice .header,
.dark-theme .tablesorter-ice .tablesorter-header {
    background-color: #525252 !important;
    background-image: none !important;
    padding: 4px 20px 4px 4px;
    white-space: normal;
    cursor: pointer;
    text-shadow: none !important;
    color: white;
    font-weight: bold;
    border-color: #171f28 !important;
}

.dark-theme .tablesorter-ice tr.odd > td {
    background-color: #727272;
    border-color: #171f28 !important;
	color: white !important;
}

.dark-theme .tablesorter-ice tr.even > td {
    background-color: #464646;
    border-color: #171f28 !important;
    color: white !important;
}

.dark-theme #content table {
    border-radius: 4px;
    width: 100%;
    border: none !important;
    font-size: 0.75rem;
    background: #222222 !important;
    padding: 0.25rem 0;
}

.dark-theme .tablesorter-ice tbody > tr.hover > td,
.dark-theme .tablesorter-ice tbody > tr:hover > td,
.dark-theme .tablesorter-ice tbody > tr.even:hover > td,
.dark-theme .tablesorter-ice tbody > tr.odd:hover > td {
    background-color: #adadad;
    border-color: #171f28 !important;
}

.dark-theme .tablesorter-ice .tablesorter-filter-row td {
    background-color: #858585;
    border-color: #171f28 !important;
    line-height: normal;
    text-align: center;
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}

.dark-theme #content select {
    border-radius: 4px;
    padding: 0 0.25rem;
    background: #3e3e3e;
    width: 100%;
    height: 2.25rem;
    border-color: #171f28;
    color: white;
    margin: 0.5rem auto;
}

.dark-theme a,
.dark-theme a:visited {
    text-decoration: none !important;
    color: #cdcdcd;
    cursor: pointer !important;
}

.dark-theme .tablesorter-ice .tablesorter-filter-row {
    background-color: #171f28;
}

.dark-theme .logon-logon i.fa-brands.fa-gitlab.fa-2x.about-icon {
    border-left: 2px solid #383838 !important;
}