/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */
 
 /*----------------------------------------------------------------------------------
 * DEFAULT
 *----------------------------------------------------------------------------------
 */

header p {
    font-weight: 600;
    float: right;
    font-size: 10px;
    color: white;
}
	
header a {
    text-decoration: none;
    color: white;
}

header h1 {
	text-indent: -999em;
}

header p.hostname {
	color:#000;
	position:absolute;
	top:55px;
	left:34px;
	font-size:12px;
}

header a:hover i,
header i:hover {
    color: #6300d2 !important;
}

header #text-user-logon:hover {
    background: #6300d2 !important;
    color: white !important;
}

#system #system-title,
#system #system-title::before {
    background: #6300d2;
    color: white;
    border-radius: 2px !important;
}

header {
    height: 1.25rem;
    padding: 1rem 2.25rem 1rem 1rem;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
	position: sticky;
    width: -webkit-fill-available;
    box-shadow: 2px 2px 30px #00000029;
}

#header-links {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#toggle-menu {
    position: relative;
    padding: 1rem 0rem 1.25rem 1rem;
    top: 0.1rem;
}

#toggle-menu, #toggle-menu.active i.fa-solid.fa-bars {
    color: #474747;
}

#toggle.not_active i.fa-solid.fa-bars {
    color: #d2d2d2;
}

.icon-header {
    padding: 1rem 1.5rem 1.25rem;
}

#header-left {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-links {
    display: flex;
    padding: 0 1rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#logoff {
    font-weight: 900;
}

#user-logon {
	cursor: pointer;
    display: inline-block;
    border-radius: 50em;
    padding: 0.85rem;
}

#user-logon:hover {
    opacity: 0.4;
}

#text-user-logon {
    color: #d2d2d2;
    position: relative;
    font-size: 0.6rem;
    font-weight: 900;
    cursor: pointer;
    margin: 0 1.75rem 0 0;
    font-family: Arial Black;
    top: -0.15rem;
    padding: 0.25rem 1rem;
    vertical-align: middle;
    border-radius: 2.5px;
}

/*----------------------------------------------------------------------------------
 * NETWORKING HEADER & GLOBAL COLOR
 *----------------------------------------------------------------------------------
 */

#networking #subnav ul li.selected a,
#networking #subnav ul li a:hover {
    color: #005179;
}

#networking #content .submit {
    font-size: 0.65rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.75rem 3.5rem;
    border: 1px solid #005179;
    background: #005179;
	width: 15vw;
}

#networking #networking-title,
#networking #networking-title::before {
    background: #005179;
    color: white;
    border-radius: 2px !important;
}

/*----------------------------------------------------------------------------------
 * APPLICATIONS HEADER
 *----------------------------------------------------------------------------------
 */

#applications #subnav ul li.selected a,
#applications #subnav ul li a:hover {
    color: #2743a9;
}

#applications #content .submit {
    font-size: 0.65rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.75rem 3.5rem;
    border: 1px solid #2743a9;
    background: #2743a9;
}

#applications #applications-title,
#applications #applications-title::before {
    background: #2743a9;
    color: white;
    border-radius: 2px !important;
}