/*----------------------------------------------------------------------------------
 * PAGE > ICONS
 *----------------------------------------------------------------------------------
 */
 
.fa-solid.fa-circle-half-stroke {
    color: rgb(203 203 203 / 87%);
}
 
#toggle-degree {
    text-decoration: none !important;
    font-weight: 900;
    color: #cbcbcb;
}
 
.fa-2x {
    font-size: 1rem !important;
    color: rgb(203 203 203 / 87%) !important;
}

.logon-logon .fa-2x {
    padding: 0 1rem;
    font-size: 1rem !important;
    color: rgb(203 203 203 / 87%) !important;
}

.fa-regular.fa-circle-question.fa-2x.about-icon {
    position: relative;
    font-size: 1.15rem !important;
    top: 0.05rem;
}

.logon-logon i.fa-brands.fa-gitlab.fa-2x.about-icon {
    border-left: 2px solid #383838;
}
 
 /*----------------------------------------------------------------------------------
 * PAGE > HOME > WELCOME
 *----------------------------------------------------------------------------------
 */
 
.welcome-read #content h1::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F505' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: #e5e5e5 !important;
    font-size: 1.5rem;
    top: -0.2rem;
}

 /*----------------------------------------------------------------------------------
 * NETWORKING
 *----------------------------------------------------------------------------------
 */
 
#networking #subnav::before {
    font-family: "Font Awesome 6 Free";
	content: '\F0E8';
    font-weight: bold;
    margin: 0 1rem 0 0;
    color: white;
    position: relative;
    font-size: 1.5rem;
    top: 1.5rem;
    background: #005179;
    padding: 1.5rem;
    border-radius: 8rem;
}
 
#networking-title.category-title::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F0E8';
    margin: 0 0.5rem 0 0rem;
    position: relative;
    font-size: 0.85rem;
	color: #adadad
}

#section-restart-networking #subnav::before {
    content: '\F2F1' !important;
}

#section-network #subnav::before {
    content: '\F0E8' !important;
}

#section-network-statistics #subnav::before {
    content: '\F0EC' !important;
}

.interface-name::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F6FF' !important;
    margin: 0 0.5rem 0 0;
    color: rgb(22 89 122);
    position: relative;
    font-size: 1rem;
}
 
 /*----------------------------------------------------------------------------------
 * APPLICATIONS
 *----------------------------------------------------------------------------------
 */
 
#applications-title.category-title::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F1B3';
    margin: 0 0.5rem 0 0rem;
    position: relative;
    font-size: 0.85rem;
	color: #adadad
}
 
#applications #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin: 0 1rem 0 0;
    color: white;
    position: relative;
    font-size: 1.5rem;
    top: 1.5rem;
    background: #2743a9;
    padding: 1.5rem;
    border-radius: 8rem;
}

.openssl #subnav::before {
    padding: 1.35rem 1.5rem !important;
    content: '\F023' !important;
}

.openssl-readall #subnav::before,
.openssl-read #subnav::before {
    content: '\F1C9' !important;
}

.openssh #subnav::before {
    padding: 1.4rem 1.5rem !important;
    content: '\F084' !important;
}

/*----------------------------------------------------------------------------------
 * SYSTEM
 *----------------------------------------------------------------------------------
 */
 
#system-title.category-title::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\E163';
    margin: 0 0.5rem 0 0rem;
    position: relative;
    font-size: 0.85rem;
	color: #adadad
}

#system #subnav::before {
    font-family: "Font Awesome 6 Free";
    content: '\F21E';
    font-weight: bold;
    margin: 0 1rem 0 0;
    color: white;
    position: relative;
    font-size: 1.5rem;
    top: 1.5rem;
    background: #5a329f;
    padding: 1.5rem;
    border-radius: 8rem;
}

.health #subnav::before {
    font-family: "Font Awesome 6 Free";
    content: '\F21E';
    font-weight: bold;
    margin: 0 1rem 0 0;
    color: white;
    position: relative;
    font-size: 1.5rem;
    top: 1.5rem;
    background: #5a329f;
    padding: 1.5rem;
    border-radius: 8rem;
}

.health-system #subnav::before,
.health-proc #subnav::before,
.health-api #subnav::before,
.health-network #subnav::before,
.health-networkstats #subnav::before {
    top: 1.6rem !important;
    font-size: 1.6rem !important;
    padding: 1.35rem 1.5rem !important;
}

#section-hardware-information #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F2DB' !important;
}

#section-storage #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F0A0' !important;
}

#section-storage #legend-object b::before {
    opacity: 0.33;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F1C0' !important;
    margin: 0 0.5rem 0 0;
}

.apk #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding: 1.5rem 1.4rem !important;
    content: '\F49E' !important;
}

.cron #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding: 1.4rem 1.5rem !important;
    content: '\F1DA' !important;
}

.syslog #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F06E' !important;
}

.logfiles #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding: 1.2rem 1.5rem !important;
    content: '\F15C' !important;
}

.password #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding: 1.33rem 1.5rem !important;
    content: '\F13E' !important;
}

.roles #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
	padding: 1.5rem 1.35rem !important;
    content: '\E595' !important;
}

.rc #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding: 1.4rem 1.5rem !important;
    content: '\F469' !important;
}

.modules #subnav::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F1B3' !important;
}

.skins #subnav::before {
	font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding: 1.2rem 1.5rem !important;
    content: '\F043' !important;
}

.dispatcherror #subnav::before,
.exception #subnav::before {
    font-family: "Font Awesome 6 Free";
    content: '\E55D' !important;
    font-weight: bold;
    margin: 0 1rem 0 0;
    color: white;
    position: relative;
    font-size: 1.5rem;
    top: 1.5rem;
    background: #ff5454;
    padding: 1.5rem;
    border-radius: 8rem;
}

.welcome .dashboard-title-memory::before {
	font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F538' !important;
}

.welcome .system-uptodate .dashboard-title-system::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\E163' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: inherit;
    font-size: 1rem;
    top: 0.1rem;
    color: #3cdd4f;
}

.welcome .system-update .dashboard-title-system::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\E163' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: inherit;
    font-size: 1rem;
    top: 0.1rem;
    color: #ffac00;
}

.welcome .system-upgrade .dashboard-title-system::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: '\E163' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    font-size: 1rem;
    top: 0.1rem;
    color: #f74b00;
}

.welcome .dashboard-title-hardware::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F2DB' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    font-size: 1rem;
    top: 0.1rem;
    color: #0078cf;
}

.welcome .dashboard-title-system-uptime::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\E518' !important;
	display: inline-block;
    margin: 0 0.5rem 0 0;
    font-size: 1rem;
    color: #00cbb4;
}

.welcome .dashboard-title-network-stats::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F012' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: inherit;
    font-size: 0.7rem;
}

.welcome .dashboard-title-ssh-gpg::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F084' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: inherit;
    font-size: 0.7rem;
}

.welcome .dashboard-title-disk::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F7C2' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: inherit;
    font-size: 0.7rem;
}

.welcome .dashboard-block-title.dashboard-title-cpu-stats:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F0C8' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    font-size: 0.75rem;
    top: 0;
}

.welcome .dashboard-block-title.dashboard-title-memory-stats:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F0C8' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
	font-size: 0.75rem;
    top: 0;
}

.icon-disk {
    margin: 0 0.25rem 0 0;
    color: grey;
    opacity: 0.45;
}

.welcome .dashboard-title .fa-solid.fa-square {
    margin: 0 0.5rem 0 0;
}

/*.version-number-uptodate:after,
.version-number-update:after,
.version-number-upgrade:after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F35D' !important;
    display: inline-block;
    position: relative;
    margin: 0 0 0 0.5rem;
    color: inherit;
    font-size: 0.5rem;
    top: -0.25rem;
	border: none !important;
}*/