/*----------------------------------------------------------------------------------
 * MEDIA QUERIES
 *----------------------------------------------------------------------------------
 */

@media only screen and (min-device-width : 0px) and (max-device-width : 1400px) {

	html, body {
	position: relative;
    width: 100%;
    min-height: 100%;
	overflow-x: hidden !important;
	}
	
	body {
	display: block !important;
	}
	
	html.app-logon {
	overflow: hidden !important;
	}
	
    header {
        zoom: 65%;
        height: 5rem;
        padding: 0 !important;
        position: absolute !important;
        display: flex;
        background: white !important;
        flex-direction: row;
        flex-wrap: nowrap;
        background-position: 2rem center !important;
        justify-content: space-between;
        width: 100%;
    }
	
	.header-logo {
	width: 8rem !important;
    height: 3rem !important;
	}
	
	#content p,
	#content input.text,
	#content select,
	#content textarea,
	#content input.password {
    width: 100%;
	}
	
	#content {
    width: 100% !important;
    padding: 0.75rem 0 5rem 0 !important;
	}

	.logon.logon-logon {
    position: relative;
	top: -1rem;
    overflow: hidden !important;
    width: 100%;
	}
	
	#page-logon {
    background: rgb(0 0 0 / 50%);
    border-radius: 0 0 4px 4px !important;
    width: 90vw;
	}
	
	.page {
	padding: 3rem 0 0 0 !important;
	width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
	}

	#main {
	margin: auto !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
	width: 95% !important;
	}
	
	#nav {
    padding: 1rem !important;
    width: auto !important;
    height: auto !important;
    position: relative !important;
    overflow: hidden !important;
    margin: 0 0 -3.25rem !important;
	}
	
	#subnav {
	width: 100% !important;
	}
	
	#subnav ul {
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    margin: 0rem;
    align-items: center;
    align-content: stretch;
	}
	
	#subnav ul li {
    display: block !important;
    float: left !important;
    margin: 1rem auto !important;
	}
	
	#page-logon #error {
    top: 1.5rem;
    width: 78vw !important;
    left: 6%;
	}

	.logon-logon #main {
    width: auto;
    margin: 0 auto;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 0 0;
	}
	
	.logon-logon #content {
    float: none !important;
    border: none !important;
    width: 75vw !important;
	}
	
	.logon-logon #header {
    background-image: url(../../img/logos/logo-trinity-full-acf-white.png) !important;
    position: relative !important;
    border-radius: 10px 10px 0 0 !important;
    background-position: 1.25rem center !important;
    padding: 0.15rem 0rem;
    background-size: 8rem !important;
    justify-content: flex-end !important;
    background-color: rgb(0 0 0 / 80%) !important;
    width: 138.5vw;
    height: 5.5rem !important;
    background-repeat: no-repeat !important;
	}
	
	#userid {
    margin-top: 0rem !important;
	}

	.logon-logon input {
    padding: 0.25rem 0 0.25rem 0.5rem !important;
	}
	
	.logon .item {
    margin-top: 2rem;
	}
	
	.logon-logon #content .submit {
    width: 103%;
	}
	
	.logon-logon .item:last-child {
    margin: 0;
	}
	
	button#showPass {
    top: -2rem;
    height: 2rem;
    right: -0.65rem !important;
    width: 2rem;
	}
	
	.dashboard-main {
    display: block !important;
	}
	
	.section-2 {
    width: 100% !important;
	}
	
	header #toogle-link {
    color: #d9d9d9;
    float: left;
	padding: 1.25rem 1.5rem 1.25rem 0.5rem !important;
	}
	
	.data-block {
    margin: 2rem 0px;
    height: auto !important;
    width: -webkit-fill-available !important;
	}
	
	.icon-header {
    padding: 1.25rem 0.5rem;
    margin: 0 0.5rem 0 0;
	}

	.chart-legend {
    flex-wrap: wrap !important;
    justify-content: space-evenly;
    align-items: center;
	}
	
	#legend-used,
	#legend-buffered,
	#legend-free {
    position: relative;
    top: 0.75rem;
	}
	
	#content .chart-memory td:first-child,
	#content .chart-memory td:last-child {
    display: none;
	}
	
	.welcome-block {
    width: auto !important;
    margin: 2rem auto;
    height: 22rem !important;
	}
	
	.dashboard-system {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row !important;
    align-content: center !important;
    flex-wrap: wrap !important;
	}
	
	.data-block.data-system-up-time {
    margin: 0 !important;
	}
	
	.uptime {
    font-size: 0.65rem !important;
    top: 0 !important;
	}
	
	.data-system-up-time::before {
    display: none !important;
	}
	
	.dashboard-infos.dash-info-version {
    line-height: 1.5rem !important;
	}
	
	#text-user-logon {
	padding: 0.33rem 1rem !important;
	font-size: 0.65rem;
	margin: 0 !important;
    }
	
	#user-logon {
    margin: 0 0.75rem 0 0;
	padding: 1.25rem;
	}
	
	#footer {
    margin: 0 !important;
	}
}