/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */

body {
    width: 100vw;
    min-height: -webkit-fill-available;
    height: 100vh;
    max-width: 100%;
    display: flex;
    font-family: sans-serif !important;
    font-size: 1rem;
    color: #444;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
}

.category-title::before {
    color: rgb(0 0 0 / 20%);
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */
 
.page {
    background: #fefefe;
    flex: 1;
    padding: 0.5rem 0 0 1rem;
}

#main {
    width: 98%;
    margin: 0 auto;
}

.page-header-title {
    margin: 0 1rem 4rem 5.25rem;
    text-transform: uppercase;
    width: fit-content;
    padding: 0.25rem 0 0.25rem;
    font-family: "Arial Black", sans-serif;
    font-weight: 900 !important;
    font-size: 0.9rem;
    letter-spacing: -0.1rem;
	border-top: 3px solid;
    border-bottom: 3px solid;
}

#networking .page-header-title {
	color: #005179;
}

#applications .page-header-title {
	color: #2743a9;
}

#system .page-header-title {
    color: #5a329f;
}

.small-block {
	width: 30%;
}

/*----------------------------------------------------------------------------------
 * PAGE > ERROR
 *----------------------------------------------------------------------------------
 */
 
.dispatcherror .page-header-title,
.exception .page-header-title {
    color: #ff5454;
}

.dispatcherror p {
    color: #ff5454 !important;
    font-weight: bold;
}

.errordetail.error {
    color: #727272 !important;
}

.errordetail.error a:hover {
    text-decoration: underline !important;
}

<<<<<<< HEAD
.dispatcherror #content h1::before {
=======
.dispatcherror #content h1::before,
.exception #content h1::before {
>>>>>>> 5a6b168 (Change Error Template)
    color: #ff5454 !important;
}

.right #error {
<<<<<<< HEAD
    margin: 0 !important;
=======
>>>>>>> 5a6b168 (Change Error Template)
    padding: 0 !important;
    color: #ff5454;
    background: white !important;
}

.right #error::before {
    display: none !important;
}