/* .css - Alpine ACF */

/*----------------------------------------------------------------------------------
 * JQUERY TABLESORTER
 *--------------------------------------------------------------------------------*/

@import "../static/tablesorter/theme.ice.css";

/*----------------------------------------------------------------------------------
 * GENERAL
 *----------------------------------------------------------------------------------
 */

.hide {
	display:none;
}

a,
a:visited {
	text-decoration:none;
	color: #3F83CE;
}

a:hover {
	text-decoration: underline;
}

input {
	border:1px solid #ccc;
}

input.checkbox {
	border: none;
}

hr {
	background-color:white;
	height:3px;
}

.error {
	font-weight:bold;
	color:#FF3333;
	
	margin-bottom: 1em;
	padding: 0.6em;
}

input.error,
select.error,
textarea.error {
	font-weight:normal;
	font-style:normal;
}

.header {
	background:#eee;
	border-bottom:3px double #999;
	font-weight:bold;
	vertical-align:bottom;
}

pre {
	font-family:monospace;
	font-size:10px;
	padding:5px;
}

input[type=text][disabled] {
	color:#755;
	background:#eee;
}

input.text[readonly],textarea[readonly] {
	border:none;
	font-weight:bold;
}

/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */

body {
	font-family: Helvetica, sans-serif;
	font-size:16px;
	color: #444;
	background:url("bg-repeat.jpg") top left repeat-x;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */

#header {
	height:200px;
	padding: 0 2% 0 0;

	background:url("bg-main.jpg") no-repeat;
}

#header p {
	float:right;
	font-size:14px;
	color:white;

	margin-top:23px;
}	
	
#header a {
	color:#80bff7;
}

#header h1 {
	text-indent: -999em;
}

#header p.hostname {
	color:#000;
	position:absolute;
	top:55px;
	left:34px;
	font-size:12px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */

#main {
	width: 90%;
	margin: 0 auto;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *----------------------------------------------------------------------------------
 */

#nav {
	margin-top: 20px;
	padding-bottom: 2%;
	
	float: left;
	width: 18%;
}

#nav ul {
	display:block;
}

#nav ul li {
	list-style-type: none;
	color:#000;
	font-size:16px;
	letter-spacing: 0.1em;
	margin-top: 1.2em;
}

#nav ul li ul {
	list-style-type: none;
	margin-left: 1em;
	margin-top:	10px;
	
	border-bottom: 1px solid #ABABAB;
}

#nav ul li ul li {
	list-style-type: none;
	font-weight:normal;
	font-size:10px;
	border-top:1px solid #ABABAB;
	margin: 0;

	text-transform: uppercase;
	letter-spacing: 0.07em;
}

#nav ul li ul li.selected {
	background:#CCC;
}

#nav ul li ul li a {
	display:block;	
	padding: 1em 1em 1em 2em;
	color: #444;
}

#nav ul li ul li a:hover {
	background-color: #CCC;
	color: #444;
}

#nav ul li ul li.selected a {
	color: #444;
	font-weight:bold;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *----------------------------------------------------------------------------------
 */

#subnav {
	margin: 1em 0 0 0;
	float: right;
	width: 80%;
}

#subnav ul li {
	display: block;
	float: left;

	margin: 0.2em 0.4em 0.6em 0;

}

#subnav ul li a {
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #444;
	font-weight: bold;

	padding: 0.3em 0.5em;
	border: 1px solid #ABABAB;
	background: #CCC;
}

#subnav ul li.selected a, 
#subnav ul li a:hover {
	background-color: #6CB7F8;
	border: 1px solid #3F83CE;
	color: #FFF;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > CONTENT
 *----------------------------------------------------------------------------------
 */

#content {
	float: right;
	width: 80%;
padding-bottom:15px;
border-bottom:3px solid #cacaca;
}

#content h1, 
#content h2, 
#content h3, 
#content h4, 
#content h5 { 
	padding:3px 0 7px 0;
	font-weight:normal;
	font-size:18px;
}

#content h1 { 
	margin: 0.8em 0 1em 0;
	padding: 0.4em 0.3em 0.3em 1em;
	background-color: #6CB7F8;
	border: 1px solid #3F83CE; 
	color:white;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

#content h2 { 
	color:#000;
	font-size:16px;
	letter-spacing: 0.1em;
	margin-top: 1.2em;
}

#content h3 { 
	height:14px;
	font-size:14px;
	font-weight:bold;
	color:#999999;
	padding-top:15px;
	border-top:1px solid #cacaca;
}

#content .descr {
	clear:both;
}

#content .value {
	display: inline;
	padding-left: 200px;
}

#content dl,
#content .item {
	display:block;
	clear:both;
}

#content dt,
#content .item .left {
	width:220px;
	font-size:12px;
	text-align:right;
	font-weight:bold;
	float:left;

	padding-top: 10px;
}

#content dd,
#content .item .right {
	font-size:12px;

	padding-top: 10px;
	margin-left:230px;
}

#content table form {
	display: inline-block;
}

/*
#content .tailer {
	border-bottom:3px solid #cacaca;
	margin-top: 2%;
}
*/
#content .submit {
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;

	padding: 0.3em 0.5em;
	border: 1px solid #3F83CE;
	background: #6CB7F8;
}

#content textarea {
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	width:718px;
}

#content p, 
#content input.text, 
#content select, 
#content textarea, 
#content input.password {
	width:97%;
}

#content input.short {
	width:200px;
	margin-right:10px;
	display:inline;
}

#content textarea {
	height:300px;
}

#content dd textarea {
	height:100px;
}

#content form select.radio {
	border:none;
}

#content table {
	width:100%;
	border: 1px solid #ABABAB;
	border-left: none;
}

#content table td {
	padding: 0.4em;
	border: 1px solid #ABABAB;
	border-right: none;
	border-bottom: none;
}

#content table td.header {
	font-weight:bold;
	font-size:12px;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	
	border: 1px solid #ABABAB;
	border-right: none;
	background: #CCC;
	padding: 0.5em 0.5em 0.5em 1em;
}


/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *----------------------------------------------------------------------------------
 */

#footer {
	margin: 5em 0 2em 0;
	padding: 10px;
	text-align:	center; 
	border-top:	1px solid #d6d6d6;
	font-size: 10px;
	color: #aaa;

	clear: both;
}



