/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *----------------------------------------------------------------------------------
 */

#footer {
    margin: 5em 0 2rem 0;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    clear: both;
    background: #f3f3f3;
}

#footer a {
	color: #939393 !important;
}

.data-title.data-footer.data-version {
    font-weight: 600;
    float: right;
    margin: auto 1rem;
    font-size: 0.5rem;
    text-transform: capitalize;
}