/*----------------------------------------------------------------------------------
 * IMPORT
 *----------------------------------------------------------------------------------
 */

@import url("ice_general.cssxxx");
@import url("ice_ie.css");
/*@import url("ice_ff.css"); */


/* .css - Alpine ACF */

/*----------------------------------------------------------------------------------
 * JQUERY TABLESORTER
 *--------------------------------------------------------------------------------*/

@import "../static/tablesorter/theme.default.css";

/*----------------------------------------------------------------------------------
 * GENERAL
 *----------------------------------------------------------------------------------
 */

.hide {
	display:			none;
}

a {
	text-decoration:		none;
	color:			#072966;
}
a:visited {
	color:			#072966;
}
a:hover {
	color:			red;
}
input {
	border:			1px solid #ccc;
}
hr {
	background-color:		white;
	height: 			3px;
}
.error {
	font-weight: 		bold;
	font-style:		italic;
	color: 			#f33;
}
input.error,select.error,textarea.error {
	font-weight: 		normal;
	font-style:		normal;
}

input.checkbox {
border: none;
}

.mute {
	color: 			#777;
}
.header {
	background: 		#eee;
	border-bottom:		3px double #999;
	font-weight: 		bold;
	vertical-align:		bottom;
}
pre {
	font-family:		monospace;
	font-size:		10pt;
	padding:		5px;
}
input[type=text][disabled] {
	color:			#755;
	background:		#eee;
}
input.text[readonly],textarea[readonly] {
	border:			none;
	font-weight:		bold;
	background:		transparent;
}
/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */
body {
	margin: 			0px 0px 0px 0px;
	padding: 			0px 0px 0px 0px;
	font-family: 		Liberation Sans, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, Verdana, "Trebuchet MS", SunSans-Regular;
	font-size:		12pt;
	background-image: 		url("watermark.jpg");
	background-repeat: 		no-repeat;
	background-position:	400px 140px;
}
#page { 
	position:			relative;
	left:			0px;
	top:			0px;
	margin:			10px 5% 0% 5%;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */
#header {
	width: 			100%;
	height: 			75px;
	margin: 			0px 0px 0px 0px;
	padding: 			0px 0px 0px 0px;

	background-image: 		url("alpine.jpg");
	background-repeat: 		repeat-x;
	border: 			1px solid #ddd;
	padding: 			0px 0px 0px 0px;
	margin: 			0px 0px 0px 0px;
}
#header p {
	float: 			right;
	font-size:		14px;
	padding: 			0px 0px 0px 0px;
	margin-right: 		5px;
	margin-top: 		5px;
}
#header .tailer {
	position:			absolute;
	background-image: 		url(shadow-top.png);
	background-repeat: 		repeat-x;
	top:			76px;
	height:			10px;
	width:			100%;
	margin: 			0px 0px 0px 0px;
	padding: 			0px 0px 0px 0px;
}

#header h1 {
	position:			absolute;
	top:			10px;
	left: 			10px;
	font-size:		40px;
}
#header p.hostname {
	position:			absolute;
	top:			55px;
	left:			10px;
	font-size:		14px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */
#main {
	clear: 			both;
	margin-top: 		20px;
	margin-left: 		200px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *----------------------------------------------------------------------------------
 */
#nav {
	position: 		absolute;
	top: 			97px;
	left: 			0px;
	width: 			180px;
	margin: 		0px 0px 0px 9px;
	padding: 		0px 10px 0px 0px;
	background:		white;
	background-image: 		url(shadow-side.png);
	background-repeat: 		repeat-y;
	background-position: 	right;
}
#nav ul {
	list-style-type: 		none;
}
#nav ul li {
	color: 			white;
	font-size: 		16px;
	font-weight: 		bold;
	white-space: 		nowrap;
	overflow: 		hidden;
	background:		#6688AA;
	border-top: 		1px solid #7799BB;
}
#nav ul li ul {
	margin-top:	5px;
}
#nav ul li ul li {
	padding-bottom: 	0px;
	height: 		21px;
	font-weight: 		normal;
	font-size:		10pt;
	white-space: 		nowrap;
	overflow: 		hidden;
	border-bottom: 		1px solid #cacaca;
	border-top: 		1px solid #ccc;
	border-left: 		1px solid #ddd;
	background-image: 		url(menu_item.png);
}
#nav ul li ul li.selected {
	background: 		#dff;
	background: 		white;
	font-weight:		bold;
	text-transform:		uppercase; 
}
#nav ul li ul li a {
	clear:			right;
	display:			list-item;
	padding-left:		5px;
	padding-top:		3px;
	padding-bottom:		3px;
}
#nav ul li ul li a:hover {
	background-image: 		url(menu_item_hover.png);
}
#nav ul li ul li.selected a:hover {
	background-image: 		none;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *----------------------------------------------------------------------------------
 */
#subnav {
position:absolute;
top:55px;
//top:54px;
height:40px;
left:200px;
padding-top:2px;
}

#subnav ul {
//padding-top: 5px;
}

#subnav li {
display:inline;
height:40px;
margin:0px 0px 5px 0px;
//margin-right: 5px;
padding:3px 5px 2px 5px;
font-size:12px;
color:#ffffff;
background-image:		url(menu_item.png);
border:1px solid #bbb;
border-bottom:none;
}

#subnav a {
font-size:12px;
/*color:	black;	*/
}

#subnav a.selected {
color: #003566;	
text-transform:	uppercase; 
}

#subnav li.selected {
background:	#dff;
background:	white;
font-weight:	bold;
color: 		#003566;	
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > CONTENT
 *----------------------------------------------------------------------------------
 */
#content {
	background-image: 		url(shadow-side.png);
	background-repeat: 		repeat-y;
	background-position: 	right;
	margin-top:		-20px;
	padding-right:		10px;
	border-left:		1px solid #cacaca;
border-bottom:		3px solid #cacaca;
}
#content h1,h2,h3,h4,h5 { 
	clear:			both;
	padding-top:		3px;
	border-bottom: 		1px solid #cacaca; 
	border-top: 		1px solid #cacaca;
	font-weight: 		bold;
	font-size: 		14px;
	white-space: 		nowrap;
	overflow: 		hidden;
	vertical-align:		top;
}
#content h1 { 
	margin-top:		20px;
	height: 			17px;
	background-image: 		url(h1.png);
	padding-left:		5px;
}
#content h2 { 
	height: 			18px;
	background-image: 		url(h2.png);
	padding-left:		10px;
}
#content h3 { 
	height: 			14px;
	background-image: 		url(h3.png);
	font-size: 		12px;
	padding-left:		15px;
}
#content .descr {
	clear:	both;
}

#content .value {
	display: inline;
	padding-left: 200px;
}
#content dl,
#content .item {
	margin:			0px;
	padding:			0px;
	margin-bottom:		10px;
	margin-top:		2px;
	width:			98%;
	display:			block;
	clear:			right;
}
#content dt,
#content .item .left {
	width: 			220px;
	font-size: 		12px;
	text-align:		left;
	font-weight:		bold;
	margin-top:		1px;
	margin-left: 		0px;
	padding-left:		5px;
	padding-top:		5px;
	padding-bottom:		5px;
	border-top:		1px solid #ddd;
}
#content dd,
#content .item .right{
	margin-top:		-17px;
	font-size: 		12px;
	margin-left: 		230px;
	padding-bottom:		5px;
}
#content table form {
	display:		inline-block;
}
/*
#content .tailer {
	clear: 			both;
	border-bottom:		3px solid #cacaca;
	margin-left: 		0px;
}
*/
#content .submit {
	width: 			100px;
	border-right:		1px solid #cacaca;
	border-bottom:		1px solid #cacaca;
	background:		#eee;
}
#content textarea {
	border-right: 		1px solid #cacaca;
	border-bottom: 		1px solid #cacaca;
}
#content p,input.text,select,textarea,input.password {
	width:			97%;
}
#content table {
	width:			100%;
}
#content input.short {
	width:			200px;
	margin-right:		10px;
	display:			inline;
}

#content textarea {
	height:			300px;
}
#content dd textarea {
	height:			100px;
}
#content form select.radio {
	border:			none;
}
#content table td {
	padding-right:		10px;
	white-space:		normal;
	border-bottom:		1px solid #ccc;
}


/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *----------------------------------------------------------------------------------
 */

#footer {
/* float: right; */
	margin-top:		20px;
	margin-left: 		200px;
	margin-right: 		10px;
	padding:			5px;
	clear: both;
	text-align:		center; 
	border-top:		1px solid #d6d6d6;
	font-size:		10px;
	color: 			#aaa;

/*	position:			relative;
	clear: 			both;
	width: 			100%;
	padding:			5px 0px 5px 0px;
	margin:			15px 0px 0px 10px; */
}
