/*----------------------------------------------------------------------------------
 * PAGE > ROLES
 *----------------------------------------------------------------------------------
 */

.roles .section-1 .section-2:nth-child(2) {
    background: #e6ffc4;
    padding: 1rem;
    border-radius: 2px;
}