/*----------------------------------------------------------------------------------
 * PAGE > WELCOME
 *----------------------------------------------------------------------------------
 */
 
 .dashboard-system .fa-docker {
    font-size: 0.75rem;
    margin: 0 0.25rem 0 0;
    color: #028ab5;
}

.dashboard-system .fa-retweet {
    margin: 0 0.25rem;
}

.dashboard-infos.dash-docker-info {
    color: #028ab5;
}

span.dashboard-infos {
    color: grey;
}

/*----------------------------------------------------------------------------------
 * DOCKER BUILD
 *----------------------------------------------------------------------------------
 */
 
.welcome #home-link {
    font-weight: 900;
    text-decoration: underline !important;
}

.welcome.welcome-read #subnav {
    display: none !important;
}

.dashboard-block {
    margin: 0 auto 3rem;
    background: white;
    width: -webkit-fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: auto;
    border-radius: 4px;
    color: grey !important;
    text-align: center !important;
}

.uptime {
    position: relative;
    color: #00bac9;
    font-size: 0.65rem;
    font-weight: 900;
}

.dashboard-block-title {
    text-align: left !important;
    font-weight: 900 !important;
    font-size: 0.8rem !important;
    letter-spacing: 0.1rem;
    color: #b1b1b1;
    padding: 0rem 0 1rem !important;
}

.welcome .dashboard-block-title.dashboard-title-cpu-stats,
.welcome .dashboard-block-title.dashboard-title-memory-stats {
    padding: 1rem 0 1rem 0.5rem !important;
}

.welcome-read #content h1 {
    background: none !important;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0.5rem 0 0.5rem;
    font-family: Arial Black;
    color: #b7b7b7;
}

.welcome-title-user {
    color: #006787;
    font-weight: bold !important;
    text-transform: capitalize;
    font-size: 1.5rem !important;
    margin: 0rem auto 1rem;
}

.welcome-title-user:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F406' !important;
    margin: 0 0.75rem 0 0;
    display: inline-block;
    color: #acacac;
    position: relative;
    font-size: 1.5rem;
    top: -0.2rem
}

/* ADD ROOT SPEC ICON & COLOR */

.welcome-title-root:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F505' !important;
    margin: 0 0.75rem 0 0;
    display: inline-block;
    color: #ff7575;
    position: relative;
    font-size: 1.5rem;
    top: -0.2rem;
}

.welcome-user,
.welcome-root {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 80%;
}

.welcome-hostname {
    font-size: inherit !important;
    font-weight: bold !important;
    color: inherit !important;
    text-transform: lowercase !important;
}

.welcome-read hr {
    border: none !important;
    background: rgb(213 213 213 / 28%);
}

.link-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
}

.welcome-about {
    text-align: right;
}

.welcome-pkg-list,
.welcome-about {
    font-size: 0.60rem;
    font-weight: 500;
}

.welcome-pkg-list a,
.welcome-about a {
    font-weight: bold;
    font-size: 0.55rem;
    border-bottom: 0.1rem solid;
}

.welcome-pkg-list:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F466' !important;
    margin: 0 0.15rem 0 0;
    display: inline-block;
    color: #acacac;
    position: relative;
    font-size: 0.75rem;
}

.welcome-about:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F059' !important;
    margin: 0 0.15rem 0 0;
    display: inline-block;
    color: #acacac;
    position: relative;
    font-size: 0.75rem;
}

.welcome-desc {
    text-align: justify;
    line-height: 1.5rem !important;
    word-spacing: -0.1rem;
    padding: 0 0 1rem 0;
}

.check-version {
    font-size: 0.65rem;
    color: white !important;
    height: 1rem;
    display: block;
    margin: 0.25rem 0;
}

.icon-kernel-ok {
    margin: 0 0 0 0.15rem;
    color: #189b00;
}

.icon-kernel-warn {
    margin: 0 0 0 0.15rem;
    color: #ff7800;
}

.icon-kernel-err {
    margin: 0 0 0 0.15rem;
    color: #ed0000;
    position: relative;
    top: 0.05rem;
}

#section-alpine-configuration-framework {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
}

#content #nav,
#content #header,
#content #footer {
    display: none !important;
}

.dashboard-main.main-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
	justify-content: space-between;
    width: -webkit-fill-available;
	width: -moz-available;
    width: fill-available;
	
}

.dashboard-system {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.legend-memory-free {
    width: 100% !important;
    position: relative;
    color: #006787;
    font-weight: 900;
    text-align: center !important;
    top: -8rem;
    font-size: 2.5rem !important;
}

.dashboard-hardware p {
    text-transform: none !important;
}

.dashboard-hardware,
.dashboard-memory {
    height: 25rem;
}

.welcome-block.welcome-intro {
    color: #fbfbfb;
    text-align: left;
    width: 30%;
    padding: 0.5rem;
    align-self: flex-start;
}

.hello-world strong::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F2BD' !important;
    display: inline-block;
    position: relative;
    margin: 0 0.5rem 0 0;
    color: inherit;
    font-size: 1rem;
}

.corporate-blue-legend {
    font-size: 0.55rem;
    letter-spacing: 0.5rem;
    position: relative;
	font-weight: 600 !important;
    top: -1rem;
}

.dashboard-infos {
    font-size: 0.65rem;
    margin: 0;
    width: 100% !important;
	font-weight: bold;
}

.dashboard-infos.dash-info-temp {
    margin: 0;
    color: grey;
    width: auto !important;
    font-weight: 900;
}

.data-cpu-temp {
	display: none;
}

#cpuTemp span {
    margin: auto !important;
    top: 0;
    padding: 0 0 0 0.5rem;
    font-size: 2rem;
	font-family: sans-serif;
}

/*.medium {
    color: #ffb26d !important;
}*/

.hot {
    color: #ff6e6e !important;
}

#temp-unit {
    margin: auto !important;
    padding: 0.15rem !important;
    font-size: 0.75rem !important;
	color: #bbbbbb !important;
}

.dashboard-infos.dash-info-network-wan {
    margin: 0 auto 2rem;
}

.dashboard-infos.dash-info-version {
    text-align: left !important;
}

#procTemp {
    font-size: 1.5rem;
    border-radius: 4px !important;
    text-align: left;
    display: flex;
    margin: 3.5rem auto 0 0;
    background: #f9f9f9;
    padding: 0.5rem 0.5rem;
    border: none !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.data-title.data-cpu-temp {
    position: relative;
    top: -1rem;
}

.data-cpu-temp::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F863' !important;
    display: inline-block;
    margin: 0;
    color: #e1e1e1;
    font-size: 2.7rem;
    position: relative;
    right: 0.5rem;
    padding: 0.5rem 0.75rem;
	animation: rotating 7s linear infinite;
}

.temp-desc {
    width: 33.33%;
    padding: 0.75rem 0.75rem 1rem;
}

.legend-text {
    font-weight: normal;
}

.temp-desc sup {
    font-size: 0.45rem;
    position: relative;
    top: 0.15rem;
    font-weight: normal;
}

.title-temp-legend {
    height: 0.25rem;
    line-height: 0.15rem !important;
    text-decoration: underline;
}

.legend.temp-legend {
    font-size: 0.5rem;
    text-decoration: none !important;
    height: 0.75rem;
}

.legend.temp-legend.temp-normal::before {
	padding: 0 0.25rem 0 0;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F058' !important;
    display: inline-block;
    color: #006787;
}

.legend.temp-legend.temp-medium::before {
    padding: 0 0.25rem 0 0;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F071' !important;
    display: inline-block;
    color: #ff9a41;
}

.legend.temp-legend.temp-hot::before {
    padding: 0 0.25rem 0 0;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F071' !important;
    display: inline-block;
    color: #ff6c6c;
}

.nan,
.nan #temp-unit {
    color: #e1e1e1 !important;
}

#cpuTemp.dash-monitoring-temp .normal,
#cpuTemp.dash-monitoring-temp .medium,
#cpuTemp.dash-monitoring-temp .hot {
    font-size: 0.65rem !important;
    font-weight: 900;
    color: #00bac9;
	margin: auto !important;
}

#cpuTemp.dash-monitoring-temp .normal::after,
#cpuTemp.dash-monitoring-temp .medium::after,
#cpuTemp.dash-monitoring-temp .hot::after {
	display: none !important;
}

#cpuTemp.dash-monitoring-temp #temp-unit {
    margin: auto !important;
    padding: 0.15rem !important;
    font-size: 0.45rem !important;
	color:#00bac9 !important;
}

.normal {
    color: #006787;
}

.normal::after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F058' !important;
    display: inline-block;
    position: relative;
    margin: 0;
    color: inherit;
    font-size: 0.55rem;
	left: -0.65rem;
}

.medium {
    color: #ff9a41;
}

.medium::after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F071' !important;
    display: inline-block;
    position: relative;
    margin: 0;
    color: inherit;
    font-size: 0.55rem;
	left: -0.65rem;
}

.hot {
    color: #ff6c6c;
	animation: blinker 1s linear infinite;
}

.hot::after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F071' !important;
    display: inline-block;
    position: relative;
    margin: 0;
    color: inherit;
    font-size: 0.55rem;
	left: -0.65rem;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.data-block.data-system-up-time {
    margin: auto 3rem;
}

.dashboard-main .version-check a:hover {
    border-bottom: 2px solid #68c700;
}

.version-link.version-external-link {
    color: #bdbdbd !important;
}

#temp-conv {
    float: right;
    font-size: 0.65rem;
    margin: 0 1rem;
    font-weight: bold;
    position: relative;
    top: 0.15rem;
}

#theme-conv {
    float: right;
    margin: 0 1rem;
    font-weight: bold;
    color: #d2d2d2;
}

.theme-block-toggle {
    margin: 0;
    padding: 0 1rem 0 0;
}

.switch {
    position: relative;
    display: inline-block;
    float: right;
    margin: 0 2rem 0 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12.5px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    top: 0.15rem;
    transition: .4s;
}

input:checked + .slider {
    background-color: #006787;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 50px;
    height: 1rem;
    width: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard-main.dashboard-block.main-block {
    justify-content: flex-start;
}

.data-title {
    font-weight: 900;
    color: #afafaf;
    font-size: 0.65rem;
    float: left;
}

.data-kernel {
    margin: auto 0 0 1rem;
}

.result-kernel {
    text-transform: uppercase;
}

.check-version a {
    font-weight: normal;
}

#alpine-version-link:hover {
	text-decoration: none !important;	
}

.version-check {
    font-weight: 900;
    color: #d7d7d7;
    text-decoration: none !important;
    border-radius: 2px;
    position: relative;
    font-size: 1.15rem;
    top: 0.75rem;
}

.dashboard-infos.dash-info-version {
    top: -0.75rem;
    position: relative;
}

.dashboard-infos.dash-info-kernel {
    position: relative;
    top: 1.5rem;
    font-weight: normal;
    font-size: 0.53rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.version-external-link::after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F35D' !important;
    display: inline-block;
    position: relative;
    top: -0.05rem;
    margin: 0 0.25rem 0 0.25rem;
    color: inherit;
    font-size: 0.4rem;
}

.icon-listing {
    font-size: 0.45rem;
    position: relative;
    top: -0.075rem;
    left: 0.25rem;
}

.icon-canvas-dash {
    width: 14%;
    height: 3rem;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    top: -1.75rem;
    background-size: contain;
}

.icon-os {
    background-image: url(../../img/logos/logo-alpine-grey.png);
    display: block;
    width: 10%;
    height: 1.25rem;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    top: -2.15rem;
    background-size: contain;
}

.icon-trinity {
    background-image: url(../../img/logos/logo-trinity-grey.png);
    display: block;
    width: 10%;
    height: 1.5rem;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    top: -2.25rem;
    background-size: contain;
}

.icon-intel {
    background-image: url(../../img/logos/logo-intel-grey.png);
    display: block;
    width: 10%;
    height: 1.25rem;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    top: -2.15rem;
    background-size: contain;
}

.icon-amd {
    background-image: url(../../img/logos/logo-amd-grey.png);
    display: block;
    width: 10%;
    height: 1.25rem;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    top: -2.15rem;
    background-size: contain;
}

.icon-arm {
    background-image: url(../../img/logos/logo-arm-grey.png);
    display: block;
    width: 10%;
    height: 1.25rem;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    top: -2.15rem;
    background-size: contain;
}

.icon-cpu-amd {
    background-image: url(../../img/icons/amd-inside-dash.png);
}

.icon-cpu-arm {
    background-image: url(../../img/icons/arm-inside-dash.png);
}

.icon-cpu-intel {
    background-image: url(../../img/icons/intel-inside-dash.png);
}

.dashboard-infos.dash-info-cpu {
    color: #0078cf;
    font-weight: 900;
    font-size: 0.55rem;
}

.dashboard-infos.dash-info-bios {
    text-transform: capitalize !important;
}

#version {
    text-transform: lowercase !important;
}

.page-welcome .chart-bar.chart-storage b {
    font-size: 0.65rem !important;
}

.page-welcome #content .chart-bar td {
    padding: 0.25rem !important;
}

.page-welcome #content .chart-storage td:first-child,
.page-welcome #content .chart-storage td:last-child {
    display: none !important;
}

.page-welcome #capacity-free {
    background: #006787;
}

.page-welcome #capacity-used {
    background: #cbcbcb;
}

#disk-partition-view {
    background: #f3f3f3;
    padding: 1rem;
    font-size: 0.7rem;
    margin: 0 auto 1rem;
    border-radius: 2.5px;
    font-weight: bold;
    text-align: justify;
}

.data-block {
    min-width: 25%;
    height: 8rem;
}

.data-block.data-cpu {
    height: auto !important;
	width: 45%;
}

.data-block.data-memory {
    width: 45%;
    height: auto !important;
}

.data-block.data-system.system-uptodate {
    box-shadow: 2px 2px 30px #00000020;
    border-left: 33px solid #68c700;
    background: #ffffff;
    padding: 1.5rem 0.75rem;
    border-radius: 4px;
    color: #cbcbcb !important;
}

.data-block.data-system.system-update {
    box-shadow: 2px 2px 30px #00000020;
    border-left: 33px solid #ffac00;
    background: #ffffff;
    padding: 1.5rem 0.75rem;
    border-radius: 4px;
    color: #cbcbcb !important;
}

.data-block.data-system.system-upgrade {
    box-shadow: 2px 2px 30px #00000020;
    border-left: 33px solid #f74b00;
    background: #ffffff;
    padding: 1.5rem 0.75rem;
    border-radius: 4px;
    color: #cbcbcb !important;
}

.data-block.data-hardware {
    box-shadow: 2px 2px 30px #00000020;
    border-left: 33px solid #0078cf;
    background: #ffffff;
    padding: 1.5rem 0.75rem;
    border-radius: 4px;
    color: #cbcbcb !important;
}

.data-block.data-monitoring {
    box-shadow: 2px 2px 30px #00000020;
    border-left: 33px solid #00bac9;
    background: #ffffff;
    padding: 1.5rem 0.75rem;
    border-radius: 4px;
    color: #cbcbcb !important;
}

.corpo-hardware-text {
    color: #0078cf;
    font-weight: 900;
}

.kernel-ver, .acf-ver {
    font-size: 0.65rem;
    position: relative;
    top: 1rem;
    color: #bdbdbd;
}

.data-system .dashboard-infos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.data-hardware .dashboard-infos,
.data-monitoring .dashboard-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value-title.value-net-local {
    text-transform: lowercase;
}

.disk-list {
    white-space: pre;
    display: block;
}